@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form-box {
  max-width: 500px;
  width: 100%;
}

.login-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 5px 0;
  border-radius: 3px;
  margin-bottom: 19px;
}

.form-box button {
  text-transform: uppercase;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: white;
  color: black;
}

.card-box {
  text-decoration: none;
  color: black;
}

.card-box:hover {
  text-decoration: none;
  color: black;
}

.product-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-title {
  font-size: 20px;
}